In [15]:
import pyodbc

In [36]:
def read(conn):
    print("Read")
    cursor = conn.cursor()
    cursor.execute("select * from dummy")
    for row in cursor:
        print(f'row = {row}')
    print()

In [37]:
def create(conn):
    print("Create")
    cursor = conn.cursor()
    cursor.execute("insert into dummy(a,b) values(?,?);",(32206,"Ayushman"))
    conn.commit()
    read(conn)

In [38]:
def update(conn):
    print("Update")
    cursor = conn.cursor()
    cursor.execute("update dummy set b = ? where a = ?;",("Madhav",32206))
    conn.commit()
    read(conn)

In [39]:
def delete(conn):
    print("Delete")
    cursor = conn.cursor()
    cursor.execute("delete from dummy where a = ?;",(32206))
    conn.commit()
    read(conn)

In [40]:
conn = pyodbc.connect(
    "Driver={SQL server Native Client 11.0};"
    "Server=AYUSHMAN\AYUSHMSSQL;"
    "Database=pyprj;"
    "Trusted_Connection=yes;"
    )
print("connection done")

connection done

In [28]:
# other way to call select
cursor = conn.cursor()
cursor.execute("select * from dummy")
rows = cursor.fetchall()
for row in rows:
    print(row)

(32201, 'aaaa      ')
(32202, 'bbbb      ')
(32203, 'cccc      ')
(32204, 'dddd      ')
(32205, 'eeee      ')
(32207, 'Ayush     ')

In [41]:
read(conn)

Read
row = (32201, 'aaaa      ')
row = (32202, 'bbbb      ')
row = (32203, 'cccc      ')
row = (32204, 'dddd      ')
row = (32205, 'eeee      ')
row = (32207, 'Ayush     ')

In [42]:
create(conn)

Create
Read
row = (32201, 'aaaa      ')
row = (32202, 'bbbb      ')
row = (32203, 'cccc      ')
row = (32204, 'dddd      ')
row = (32205, 'eeee      ')
row = (32207, 'Ayush     ')
row = (32206, 'Ayushman  ')

In [43]:
update(conn)

Update
Read
row = (32201, 'aaaa      ')
row = (32202, 'bbbb      ')
row = (32203, 'cccc      ')
row = (32204, 'dddd      ')
row = (32205, 'eeee      ')
row = (32207, 'Ayush     ')
row = (32206, 'Madhav    ')

In [44]:
delete(conn)

Delete
Read
row = (32201, 'aaaa      ')
row = (32202, 'bbbb      ')
row = (32203, 'cccc      ')
row = (32204, 'dddd      ')
row = (32205, 'eeee      ')
row = (32207, 'Ayush     ')

In [ ]:
"""
reimport pyodbc
driver = 'SQL Server'
server = '**server-name**'
db1 = 'CorpApps'
tcon = 'yes'
uname = 'jnichol3'
pword = '**my-password**'

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=server;DATABASE=db1;UID=uname;PWD=pword;Trusted_Connection=yes')
cursor = cnxn.cursor()
cursor.execute("select * from appaudit_q32013")
rows = cursor.fetchall()
for row in rows:
    print row
"""